div {
    font-family: "Roboto", sans-serif;
}
.bigdiv {
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(jellyfees.png);
    border-radius: 20px;
    
}
.hello {
    color: rgb(205, 197, 212);
    margin-top: 50px;
}
.name {
    font-size: 150px;
    font-weight: 700;
    color:white;
}
.surname {
    font-size: 150px;
    font-weight: 700;
    color:white;
    margin-bottom: 10px;
    
}
.cursive {
    font-family: "Pinyon Script", cursive;
    font-weight: lighter;
}
.links {
    display: flex;
    justify-content: space-between;
    width: 800px;
}
.li, .li-p {
    font-weight: 500;
    transition: text-decoration 0.2s;
    text-decoration: none;
    color: white;
}
.li:hover {
    cursor: pointer;
    text-decoration: underline;
}
.li-p:hover {
    cursor: pointer;
    text-decoration: underline;
}
.li-p {
    color: rgb(74, 0, 158);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(74, 0, 158);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.head-t {
    font-weight: 500;
    color: rgb(205, 197, 212);
}
.footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(74, 0, 158);
    color: white;
    border-radius: 20px;
}
.socials {
    display: flex;
    flex-direction: column;
    align-items: bottom;
    text-align: left;
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: bottom;
    text-align: right;
}
.media {
    display: flex;
    align-items: center;
}
.ss-link {
    text-decoration: none;
    color: white;
}
.ss-pic {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 18px;
}
.s-link {
    margin-left: 10px;
}
.s-title-1 {
    font-weight: 500;
    font-size: 18px;
}
.s-title-2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}
.cat-pic {
    height: 80px;
}